/* src/components/DataCard.css */
.card-group {
    display: flex;
    flex-direction: column;
    gap: .1em;
    justify-self: flex-start;
}

.card-time {
    font-size: .7rem;
    text-align: end;
}

.card-group-label {
    font-size: .8rem !important;
    font-weight: bold;
    border-bottom: 0;
}

.card-group-items {
    display: flex;
    flex-direction: column;
    gap: .1em;
}

.card-group-item {
    display: flex;
    justify-content: space-between;
}

.card-group-item-label {
    font-size: .8rem !important;
    font-weight: normal;
}

.card-group-item-value {
    font-size: .8rem !important;
    font-style: normal;
}
  