.form-card-group {
    display: flex;
    flex-direction: column;
    gap: .1em;
    justify-self: flex-start;
}

.form-card-time {
    font-size: .7rem;
    text-align: end;
}

.form-card-group-label {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: .4rem;
}

.form-card-group-items {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.form-card-group-item {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.form-card-group-item-header {
    display: flex;
    justify-content: space-between;
}

.form-card-group-item-label {
    font-size: .8rem;
    font-weight: normal;
}

.form-card-group-item-value {
    font-size: .8rem;
    font-style: normal;
}