.form-card-group {
    display: flex;
    flex-direction: column;
    gap: .1em;
    justify-self: flex-start;
}

.form-card-time {
    font-size: .7rem;
    text-align: end;
}

.form-card-group-label {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: .4rem;
}

.form-card-group-items {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.form-card-group-item {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.form-card-group-item-header {
    display: flex;
    justify-content: space-between;
}

.form-card-group-item-label {
    font-size: .8rem;
    font-weight: normal;
}

.form-card-group-item-value {
    font-size: .8rem;
    font-style: normal;
}

  /* Base styles for the range slider */
.myrange {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 100% !important;
    height: 12px !important;
    border-radius: 5px !important;
    background: transparent !important; 
    outline: none !important;
    transition: background 0.3s ease !important;
}

.rangethumb::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    background: theme(colors.sky.800) !important;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.5) !important;
    cursor: pointer !important;
}

.rangethumb::-moz-range-thumb {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    background: theme(colors.sky.800) !important;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.5) !important;
    cursor: pointer !important;
}

.myrange::-webkit-slider-runnable-track {
    height: 8px !important;
    border-radius: 5px !important;
}

.myrange::-moz-range-track {
    height: 8px;
    border-radius: 5px;
}